<div class="button_group">
  <%= content_tag(:p, link_to("デモ", select_path, class: "btn btn-outlined btn-primary animsition-link")) %>
  <%= content_tag(:p, link_to("次へ", select_path, class: "btn btn-outlined btn-success animsition-link")) %>
  <%= content_tag(:p, link_to("デモ", select_path, class: "btn btn-outlined btn-info animsition-link")) %>
  <%= content_tag(:p, link_to("デモ", select_path, class: "btn btn-outlined btn-danger animsition-link")) %>
</div>