<div class="starter-template">
  <div class="answer-box">
    <h3>これは何のサービス</h3>
    <p>
      会話のきっかけとなる最初の一言を支援するサービスです。<br> 
      自分からなかなか喋ることが出来ない人に向けて作りました。
    </p>
  </div>
  <div class="answer-box">
    <h3>開発で苦労したところ</h3>
    <p>
      いつでも使える用にスマートフォン向けのページにしましたが、<br>
      iPhone5以外で試していないので、ちゃんと出来ているかどうか不安です。
    </p>
  </div>
</div>