<div class="starter-template">
  <div class="answer-box">
    <h3>Twitter</h3>
    <p>
      <%= link_to('@_simanman', 'https://twitter.com/_simanman') %>
    </p>
  </div>
  <div class="answer-box">
    <h3>GitHub</h3>
    <p>
      <%= link_to('siman-man', 'https://github.com/siman-man') %>
    </p>
  </div>
  <div class="answer-box">
    <h3>Blog</h3>
    <p>
      <%= link_to('simanmanのブログ', 'http://simanman.hatenablog.com/') %>
    </p>
  </div>
</div>