<div class="starter-template">
  <div class="about">
    <h3>あなたに贈る言葉</h3>
    <p>FirstWordは話かけるときの最初の一言を提案するサービスです</p>
    <p>たった3回のクリックで話すキッカケを作ります</p>
  </div>

  <div class="btn-group">
    <p class="text-center">
      <%= link_to("キッカケを作る", select_path, class: 'btn btn-lg btn-default', id: "start_button") %>
    </p>
  </div>
</div>

<%= javascript_include_tag "static_pages" %>