<div class="starter-template">
  <h3>あなたへ贈る言葉は</h3>

  <div class="btn-group">
    <% @sentences.each do |sentence| %>
      <p class="sentence">「<%= sentence %>」</p>
    <% end %>
  </div>

  <h3>です</h3>

  <div class="btn-group">
    <p class="text-center">
      <%= link_to("リトライ", select_path, class: 'btn btn-lg btn-default', id: "retry_button") %>
    </p>
  </div>
</div>